.App {
  min-height: 100vh;
  max-width: 100%;
  box-sizing: border-box;
}

.btn{
  background-color: tomato;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
}
input{
  border: none;
  outline: none;
}